<div id="show">
<h1>About Street Art</h1>
<h3><em>A curated blogging platform for finding and treasuring some of New York's most beautiful outdoor art</em></h3>
<p>Here is an elegantly, yet slightly edgy, paragraph describing what the name of our blogging platform I for now only refer to as "street art" is about. It's meant to elucidate (yeah you like that?) WHAT Street Art (as a company) strives for. What our mission is, what our passions are.</p>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<!-- <div id="map-canvas" class="map-canvas-about"></div> -->


<div id="map" class="map-canvas-about"></div>
